<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap-3.3.6-dist/css/bootstrap.min.css}"/>

    <!-- js files -->
    <script type="text/javascript" th:src="@{/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
    <title>confx 配置管理系统</title>
</head>

<body>
    <div class="container">
        <hr/>
        <a type="button" class="btn btn-success"
           th:href="@{myconfnew(pcode=${pcode})}"> 新增组 </a>

        <div class="row">
            <div class="col-md-12" role="main">
                <hr/>
                <p th:text="'项目编码:'+${pcode}"></p>

                <table class="table table-bordered">
                    <tr>
                        <th>GroupName</th>
                        <th>dbname</th>
                        <th>role</th>
                        <th>ip:port</th>
                        <th>管理</th>
                    </tr>

                    <span th:each="listx : ${pmymap.item_content}">
                        <tr>
                            <td rowspan="2" th:text="${listx.key}"></td>
                            <td rowspan="2" th:text="${listx.value.content.dbname}"></td>
                            <td>Master</td>
                            <span th:each="master : ${listx.value.content.dbkey.master}">
                                <td>
                                    <div th:text="${master.ip}+':'+${master.port}"></div>
                                </td>
                            </span>
                            <td rowspan="2">
                                <a href="javascript:void(0)"
                                   th:onclick="'javascript:check(\''+${pcode}+'\',\''+${listx.key}+'\');'">检测</a>
                                <a th:href="@{myconfmodify(pcode=${pcode}, pgroupname = ${listx.key})}">修改</a>
                                <a href="javascript:void(0)"
                                   th:onclick="'javascript:del(\''+${pcode}+'\',\''+${listx.key}+'\',\'MySQL\');'">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Slave</td>
                            <td>
                            <span th:each="slave : ${listx.value.content.dbkey.slave}">
                                <div><span th:text="${slave.ip}+':'+${slave.port}"></span></div>
                            </span>
                            </td>
                        </tr>
                    </span>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Check Ping 结果</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="mgname" class="control-label" >GroupName:</label>
                        <label id="mgname"  class="control-label" ></label>
                    </div>

                    <div id="pingMaster" class="form-group">
                    </div>
                    <div id="pingSlave" class="form-group"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" th:inline="javascript">
    function check(appname, groupname) {
        //alert(/*[[${pcode}]]*/);

        $.ajax({
            url:"/manager/project/confcheck",
            dataType:"json",
            async:true,
            data:{
                "appname": appname,
                "groupname": groupname,
                "type": "MySQL"
            },
            type:"POST",
            beforeSend:function(){

            },
            success:function (req) {
                $.each(req.data, function(gname, resdata){
                    $('#mgname').text(gname);
                    $('#mok').text(resdata.master.ok);
                    $('#mfailed').text(resdata.master.failed);

                    var masterlabel = "<div>Master结果:</div>"
                    var masterok = "";
                    $.each(resdata.master.ok, function (a, b) {
                        masterok += "<div>";
                        masterok += b;
                        masterok += "</div>";
                    });
                    $('#pingMaster').empty();
                    $('#pingMaster').append(masterlabel);
                    $('#pingMaster').append(masterok);

                    var masterfailed = "";
                    $.each(resdata.master.failed, function (a, b) {
                        masterfailed += "<div>";
                        masterfailed += b;
                        masterfailed += "</div>";
                    });
                    $('#pingMaster').append(masterfailed);

                    var slaveok = "";
                    var slaveoklabel = "<div>Slave结果:</div>";
                    $.each(resdata.slave.ok, function (a, b) {
                        slaveok +=  "<div>";
                        slaveok += b;
                        slaveok += "</div>";
                    });
                    $('#pingSlave').empty();
                    $('#pingSlave').append(slaveoklabel);
                    $('#pingSlave').append(slaveok);

                    var slavefailed = "";
                    $.each(resdata.slave.failed, function (a, b) {
                        slavefailed += "<div>";
                        slavefailed +=  b;
                        slavefailed += "</div>";
                    });
                    $('#pingSlave').append(slavefailed);
                });
                $('#myModal').modal('show');
            }
        });
    }


    function del (appname, groupname,type) {
        $.ajax({
            url:"/manager/project/confdel",
            dataType:"json",
            async:true,
            data:{
                "appname":appname,
                "groupname":groupname,
                "type":type
            },
            type:"POST",
            beforeSend:function(){
            },
            success:function(req) {
                console.log(req);
            },
            complete:function(){
                window.location.reload();
            },
            error:function () {
                alert("操作出错,请检查!");
            }
        });
    }
</script>
</body>
</html>
