<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap-3.3.6-dist/css/bootstrap.min.css}"/>

    <!-- js files -->
    <script type="text/javascript" th:src="@{/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
    <title>confx 配置管理系统 - Client 配置管理</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <hr/>
            <a type="button" class="btn btn-success"  th:href="@{clientadd(pname=${pname})}"> 新增 | 修改</a>
            <hr/>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>工程名称</th>
                        <th>ip</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>最后修改时间</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="list:${clientinfo}">
                        <td th:text="${list.pname}"></td>
                        <td th:text="${list.client_ip}"></td>
                        <td>状态</td>
                        <td th:text="${list.gmt_created}"></td>
                        <td th:text="${list.gmt_modified}"></td>
                        <td> <a href="javascript:void(0)" th:onclick="'javascript:clientdel(\''+${list.pname}+'\', \''+${list.client_ip}+'\');'">删除</a> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script type="application/javascript" th:inline="javascript">
    function clientdel(program, ip) {
        $.ajax({
            url:"/manager/project/clientdel",
            dataType:"json",
            async:true,
            data:{
                "groupname": program,
                "ip": ip
            },
            type:"POST",
            beforeSend:function(){

            },
            success:function(req){
                console.log(req);
            },
            complete:function(){
                window.location.reload();
            },
            error:function () {
                alert("操作出错,请检查!");
            }

        })
    };

</script>
</body>
</html>