<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap-3.3.6-dist/css/bootstrap.min.css}"/>

    <!-- js files -->
    <script type="text/javascript" th:src="@{/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
    <title>confx 配置管理系统</title>
</head>

<body>
<div class="container">
    <div class="row">
        <br/>
        <form class="form-horizontal" action="addprogram" method="post" autocomplete="off">
            <div class="form-group">
                <label for="p_name" class="col-sm-2 control-label">工程名称</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="pname" id="p_name" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <label for="p_desc" class="col-sm-2 control-label">工程描述</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="pdesc" id="p_desc" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <label for="p_owner" class="col-sm-2 control-label">负责人</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="powner" id="p_owner" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <label for="p_path" class="col-sm-2 control-label">配置路径</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="ppath" id="p_path" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <label for="p_cmd" class="col-sm-2 control-label">reload命令</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="pcmd" id="p_cmd" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <label for="p_sysuser" class="col-sm-2 control-label">系统user</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="psysuser" id="p_sysuser" placeholder="" />
                </div>
            </div>

            <div class="form-group">
                <label for="p_codetype" class="col-sm-2 control-label">codeType</label>
                <div class="col-sm-3">
                    <select class="form-control" name="pcodetype" id="p_codetype">
                        <option>php</option>
                        <option>python</option>
                        <option>java</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
