<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap-3.3.6-dist/css/bootstrap.min.css}"/>

    <!-- js files -->
    <script type="text/javascript" th:src="@{/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
    <title>confx 配置管理系统 - Redis配置</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <hr/>
            <a type="button" class="btn btn-success" th:href="@{rdsconfnew(pcode=${pcode})}" target="_blank"> 新增配置 </a>
            <hr/>
            <div class="col-md-12" role="main">
                <p th:text="'项目编码:'+${pcode}"></p>
                <table  class="table table-bordered">
                    <tr>
                        <th>GroupName</th>
                        <th>role</th>
                        <th>ip:port</th>
                        <th>read_timeout</th>
                        <th>timeout</th>
                        <td>管理</td>
                    </tr>
                    <span th:each="listx : ${pmap.item_content}">
                        <tr>
                            <td th:text="${listx.key}"></td>
                            <td>Master</td>
                            <td>
                                <span th:each="master : ${listx.value.content.dbkey.master}">
                                    <div th:text="${master.ip}+':'+${master.port}"></div>
                                </span>
                            </td>
                            <td th:text="${listx.value.content.dbkey.attach.read_timeout}"></td>
                            <td th:text="${listx.value.content.dbkey.attach.timeout}"></td>
                            <td>
                                <a href="javascript:void(0)">检查</a>
                                <a>修改</a>
                                <a href="javascript:void(0)"
                                   th:onclick="'javascript:del(\''+${pcode}+'\', \''+${listx.key}+'\', \'Redis\')'">删除</a>
                            </td>
                        </tr>
                    </span>
                </table>
            </div>
        </div>
    </div>

<script>
    function del(appname, groupname, type) {
        $.ajax({
            url:"http://127.0.0.1:8080/manager/project/confdel",
            dataType:"json",
            async:true,
            data:{
                "appname":appname,
                "groupname":groupname,
                "type":type
            },
            type:"POST",
            beforeSend:function(){
            },
            success:function(req) {
                console.log(req);
            },
            complete:function(){
                window.location.reload();
            },
            error:function () {
                alert("操作出错,请检查!");
            }
        });

    }
</script>
</body>
</html>